<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.mapper.InfoMapper">
	<!-- Result Map -->
	<resultMap id="baseResultMap" type="com.job.model.Info">
        <result column="id" property="id"/>
        <result column="infoTitle" property="infoTitle"/>
        <result column="infoContent" property="infoContent"/>
        <result column="infoTime" property="infoTime"/>
        <result column="infoUserid" property="infoUserid"/>
        <result column="infoType" property="infoType"/>
        <association property="user" column="infoUserid" select="com.job.mapper.UserMapper.queryById"></association>
	</resultMap>


	<!-- table name -->
	<sql id="table_name">
		db_info
	</sql>
	<!-- property table all fields -->
    <sql id="base_column_list">
			id,
			infoTitle,
			infoContent,
			infoTime,
			infoUserid,
			infoType
    </sql>
    <sql id="update_clause">
        <trim suffixOverrides=",">
            <if test="infoTitle != null and infoTitle !=''">
                infoTitle=#{infoTitle},
            </if>
            <if test="infoContent != null and infoContent !=''">
                infoContent=#{infoContent},
            </if>
            <if test="infoTime != null and infoTime !=''">
                infoTime=#{infoTime},
            </if>
            <if test="infoUserid != null">
                infoUserid=#{infoUserid},
            </if>
            <if test="infoType != null">
                infoType=#{infoType},
            </if>
        </trim>
    </sql>
    <sql id="query_where_clause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null">
                and id=#{id}
            </if>
            <if test="infoTitle != null and infoTitle !=''">
                and infoTitle=#{infoTitle}
            </if>
            <if test="infoContent != null and infoContent !=''">
                and infoContent=#{infoContent}
            </if>
            <if test="infoTime != null and infoTime !=''">
                and infoTime=#{infoTime}
            </if>
            <if test="infoUserid != null">
                and infoUserid=#{infoUserid}
            </if>
            <if test="infoType != null">
                and infoType=#{infoType}
            </if>
        </trim>
    </sql>
    <insert id="save" parameterType="Object" >
        insert into
        <include refid="table_name" />
        (
			infoTitle,
			infoContent,
			infoTime,
			infoUserid,
			infoType
        )
        values
        (
			#{infoTitle},
			#{infoContent},
			#{infoTime},
			#{infoUserid},
			#{infoType}
        )
    </insert>

    <select id="queryById" resultMap="baseResultMap" parameterType="Object">
        select
        <include refid="base_column_list" />
        from <include refid="table_name" /> where id = #{id}
    </select>

    <select id="queryAll" resultMap="baseResultMap" parameterType="Object">
        select
        <include refid="base_column_list" />
        from <include refid="table_name" />
    </select>

    <select id="queryByCount" resultType="java.lang.Integer" parameterType="Object">
        select count(1) from
        <include refid="table_name" />
        <include refid="query_where_clause" />
    </select>

    <select id="queryByList" resultMap="baseResultMap"	parameterType="Object">
        select
        <include refid="base_column_list"/>
        from
        <include refid="table_name" />
        <include refid="query_where_clause"/>
        order by id desc
		${pageQueryCondition}
    </select>

    <select id="queryByInfo" resultMap="baseResultMap"	parameterType="Object">
        select
        <include refid="base_column_list"/>
        from
        <include refid="table_name" />
        <include refid="query_where_clause"/>
        order by id desc
    </select>

    <update id="update" parameterType="Object" >
        update <include refid="table_name" /> set <include refid="update_clause" /> where id = #{id}
    </update>

    <update id="updateResult" parameterType="Object" >
        update <include refid="table_name" /> set <include refid="update_clause" /> where id = #{id}
    </update>

	<delete id="deleteById" parameterType="Object">
		delete from <include refid="table_name" /> where id = #{id}
	</delete>

</mapper>   
